.certify__container{
    
    background-image: url(../images/img_Fondo/Index_2.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   
   
    .container__certifi{
        h2{
        padding-top: 40px;
      
            
        font-family: "NexaLight";
        color: #fff;
        text-align: center;
        justify-content: center;
        margin: auto;
        font-size: 30px;
       
        }

    }  
    
  
}

.certify__items{
    
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  
   
  
 
   padding: 40px 0px;
   
  
  
    article{
        
        width: 150px;
        padding: 20px 10px;
        height: 320px;
        text-align: center;
       
        margin: 0px  auto;
       
     
       
       
    }
    h3{
        font-family: "NexaLight";
        margin-top: 10px;
       
        font-size: 20px;
        height: 40px;
        text-align: center;
      
    }
    p{
        font-family: "NexaLight";
        padding: 20px 0px;
        font-size: 10px;
        letter-spacing: 1px;
        height: 90px;
      
    }
    a{
      text-decoration: none;
      color: #fff;
      background: #207478;
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 11px;
      margin-bottom: 20PX;
    
    
      font-family: "NexaLight";
      &:hover{
        background: #00434D;
        transition: all 0.5s;
    }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    article{
        width: 190px;
      
       
       
      
       
      
       
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


    .certify__items{
        
     
        width: 600PX;
        text-align: center;
        justify-content: flex-start;
        justify-items: center;
        margin: 0px auto;
       
        article{
            width: 230px;
          h3{

            
            font-size: 20px;
          }
          p{

            font-size: 15px;
          
          }
          a{

          }
            
          
        }
    }

  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

   
    .certify__items{
        
       
      
        width: 800PX;
       
       
      
         article{
           
            width: 230px;
            h3{
                font-size: 23px;
            }
            p{
  
            }
            a{
                
            }
          
          
             
           
         }
     }

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    h3{

    }
    p{

    }
    a{
        
    }

 }