
footer {
    
    background: #0E131B;
    display: flex;
    font-family: "NexaLight";
    letter-spacing: 1px;
    
    
    padding: 20px 0px;
   
    
    .contenedor__foothers{
       
     
      
       
  

    }
    .title_company{
        color: #fff;
        padding: 20px 0px;
        font-size: 15px;
        text-align: center;
      
        
    }
    
    p{
        color: #fff;
        padding: 20px 0px;
        font-size: 15px;
       b{
            font-weight: bold;
            font-family: "NexaBold";
       }
    }
    nav{
        padding: 10px 0px;
        margin: 0px auto;
        text-align: justify;
        width: 300px;
        
       
    }
    ul{
        width: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50px;

    }
    li{

        list-style: none;
        color: #fff;
        margin-right: 12px;
       
       
       

    }
    a{
       text-decoration: none;
        color: #fff;
        
        font-size: 12px;
        font-family: "NexaLight";
        
    }
    .container__calcenter {
        margin: 0px auto;
        width: 300px;
       
        .contact__number{
       
            padding: 0;
            font-size: 12px;
            
            img{
                margin-right: 0px;
            }
            
        }
       
        .contact__desc{
            
            font-size: 12px;
            padding: 5px 0px;
            text-align: left;
            
           
            
           
        } 

    }
    
}

// ----------------------Media Query---------------------- //

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    

    .contenedor__foother{
        display: flex;
        flex-direction: row;
        
       
        
    
    }
    .container__calcenter{
        padding-left: 50px;
        padding-top: 12px;
       
       

    }
    
    .contact__number{
        display: flex;
        padding: 0;
        font-size: 12px;
        
        img{
            margin-left: -25px;
        }
        
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .contenedor__foothers{

        
       
       
        .contenedor__foother{
          
          
           

        }
    }
  }
 

 @media (min-width: 1000px) { 

    

   
    .contenedor__foothers{
      
     
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      

      
       .title_company {
          
           font-size: 17px;
       }
      
        .contenedor__foother{
            
            
          
            nav {

                width: 350px;
                


                li{
                    padding: 0px 15px;
                    a{
                     
                        font-size: 12px;  
                     }
                  
                }

            }
        .container__calcenter{

            margin-left: 0px;
            
             font-size: 12px;
             .contact__desc {
                

             }
            }    

        }
    }
  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }