
.info__container{
    background-image: url(../images/img_Fondo/Index_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    h2{
        color: #fff;
        text-align: center;
        font-size: 30px;
        padding: 60px 0px 0px 0px;
        font-family: "NexaLight";
    }
    .info__items{
         padding: 30px 0px;
          article{
          display: flex;
          flex-direction: row;
          justify-content: center; 
          padding: 20px 0px 40px 0px;
              .info_img{
                    width: 100px;
                 
                    text-align: center;
                    justify-content: center;
                    justify-items: center;
                    margin: auto;
                  img{
                    width: 70px;
                  }
              }
              .info_desc{
                width: 200px;
                  h3{
                    color: #fff;
                    font-family: "NexaLight";
                    text-align: left;
                    font-size: 20px;
                    padding-bottom: 10px;
                  }
                  p{
                    color: #fff;
                    font-family: "NexaLight";
                    text-align: left;
                    font-size: 15px;
                  }
              }
          }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .info__container{
    height: 700PX;
  }
  .info__items{
  
    display: flex;                          
    flex-direction:  row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: auto;
    article{
    height: 200PX;
    margin: 20PX 30PX 0PX 0PX;
    img{
     
    }
    .info_desc{
      margin: auto;
    }
  }
  }
 }
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

