header{
    background: rgba(248, 248, 248, 0.096);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid rgba(248, 248, 248, 0.096);
    .container_logo_bars{
        
        width: 100%;
        padding: 5px 10px;
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
     
       
        
        
    }
    img.logo__coder {
        height: 30px;
    }
    .logo_coder{
       
        img{
          
        }

    }
    .icon__bars{
        i{
            color: #fff;
            margin-top: 5px;
            font-size: 25px;
            &:hover{
                cursor: pointer;
                transition: all 0.8s;
            }
        }
    }

    nav{

        background: #207478;
        position: absolute;
        top: 45px;
        left: -100%;
        width: 100%;
        transition: all 0.10s;
        
       
        
     
       
        ul{
            li{
                padding: 10px 0px;
                text-align: center;
                border-bottom: 1px solid rgba(248, 248, 248, 0.096);
            
                
                
                &:hover{
                    background: #00434d;
                    transition: all 0.8s;
                    
                }
                
                a{
                    font-family: "NexaLight";
                    color: #fff;
                    font-size: 17px;
                    padding-left: 10px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                        color: #fff;
                    }
                  
                   
                }
            }
        }
    }
.active_nav {

    left: 0;
   
}  
}

// Small devices (landscape phones, 576px and up)

//este es un fragmento de codigo ;) 

// gracias :D 
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

    
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    .container_logo_bars{
        margin: 10px 0px;
        
    }
    

    .icon__bars{
        display: none;
    }
  
    header
     nav {
        width: 700px;
        top: 10px;
    
      
       background: none;
       
            ul{
                 display: flex;
                 justify-content: center;
                 justify-items: center;
              
                 
                    li{
                        padding: 5px 15px;
                        margin-left: 2px;
                         border-radius: 10px;
                         border-bottom: none;
                        
                         
                       
                          &:hover{
                           
                              
                          }
                         a{
                            padding: 0;
                            
                         }
                       
                    }
            }
      
    }

    .active_seccion{
        background: #00434d;
    }
  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 


    
    header nav {
        
       left: 590px;
       
    
    
    }
 }