.up{
    position: fixed;
    color: #fff;
    cursor: pointer;
    bottom: 10px;
    right:  0;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-right: 20px;
    z-index: 10;
    font-size: 35px;
    text-align: center;
    transition: all 0.3;
    border-radius: 5px;
    
  
    
    &:hover{
     
      cursor: pointer;
     
    }

}

/* ========================== slider in html============================= */

img.d-block.w-100 {


height: 80vh;
 transform: scaleX(1.8);

 
}
.carousel-caption {
 
  height: 300px;
  
 
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  width: 150px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  /* -webkit-box-pack: center; */
  justify-content: center;
  /* padding-left: 0; */
  /* margin-right: 15%; */
  /* margin-left: 15%; */
  list-style: none;
 
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  
  width: 45px;
  height: 6px;
  
  border-radius: 11px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 50px;
  left: 15%;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
 
  h2{
    color: #fff;
    font-family: "NexaLight";
    font-weight: 900;
    font-size: 30px;
    padding-top: 30px;
   
    width: 290px;
    text-align: left;
    letter-spacing: 2px;
   
    

  }
  p{
   
    width: 360px;
    color: #fff;
    font-family: "NexaLight";
    letter-spacing: 1px;
    font-size: 15px;
    text-align: left;
   
    width: 300px;
   
    
    
  }
  a{
   
    font-family: "NexaLight";
    color: #fff;
    background:  #0E131B;
   font-size: 9px;
   padding: 5px;
    letter-spacing: 2px;
    
    border-radius: 15px;
    transition: all 0.5s;
    width: 130px;
   
    text-decoration: none;
      &:hover{
        cursor: pointer;
        transition: all 0.5s;
        background:  #175d61;
        
      }
  }

}




//cresssssssssssssssssssss  pon  sive




@media (min-width: 600px) {

  img.d-block.w-100 {
    height: 100%;
    transform: scaleX(1); 

  }
  
  

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  img.d-block.w-100 {
    height: 100%;
  
  }
  
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  
  h2{
    
    font-size: 40px;

    width: 600px;
  
   
    

  }
  p{
   
  
    font-size: 15px;
    
     width: 400px;
   
    
    
  }
  a{
   
   
  }

}
 
}



 




 @media (min-width: 800px) {


  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .carousel-indicators {

    bottom: 10%;
   
  }

  .carousel-caption {
    
    h2{
      
      font-size: 45px;
      width: 600px;
    
     
     
      
  
    }
    p{
     
    
      font-size: 15px;
      
       width: 400px;
     
      
      
    }
    a{
     
     
    }
  
  }
   

  }

  


 

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .carousel-indicators {

    bottom: 30%;
   
  }
  .carousel-caption {
    bottom: 40%;
    
    h2{
      
      font-size: 45px;
     

      width: 700px;
     
     
      
  
    }
    p{
     
    
      font-size: 17px;
      
       width: 500px;
     
      
      
    }
    a{
      font-size: 12px;
      width: 150px;
     
    }
  
  }
 }