.info__container {
  background-image: url(../images/img_Fondo/Index_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }
  .info__container h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding: 60px 0px 0px 0px;
    font-family: "NexaLight"; }
  .info__container .info__items {
    padding: 30px 0px; }
    .info__container .info__items article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 10px auto;
      width: 300px;
      padding: 20px 0px 60px 0px; }
      .info__container .info__items article .info_img {
        margin: auto; }
        .info__container .info__items article .info_img img {
          width: 70px; }
      .info__container .info__items article .info_desc {
        padding-left: 20px; }
        .info__container .info__items article .info_desc h3 {
          color: #fff;
          font-family: "NexaLight";
          text-align: left;
          font-size: 20px;
          padding-bottom: 10px; }
        .info__container .info__items article .info_desc p {
          color: #fff;
          font-family: "NexaLight";
          text-align: left;
          font-size: 15px; }

@media (min-width: 768px) {
  .info__items {
    width: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto; }
    .info__items article {
      width: 100px; } }

@media (min-width: 992px) {
  .info__items {
    width: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto; }
    .info__items article {
      width: 100px; } }
